ASSETS/
ASSETS
ASSETS/*
ASSETS/make-bundles.sh
*.cfg
*.zehn
*.blend
*.blend1
*.kra
*.kra~
*.png~
models
.directory
*.tar
*.tar.gz
*.gz
*.tns
*.elf
*.o
*.on
*.ow
*.zip
*.mtl
*.obj
*.png
*.bmp
*.jpg
.vscode
*.so
*.dylib
*.so.*
a.out
Testing/
.cache/
*.png~
*.dae
*.smd
include/nGL
build/*
!build/
!build/*.tar.gz.tns
!build/*.dll
!build/*.json